<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Compiler.Service" version="0.0.57" targetFramework="net45" />
  <package id="FsPickler" version="0.9.5.1-alpha" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Thespian" version="0.0.7-alpha" targetFramework="net45" />
  <package id="Vagrant" version="0.1.5" targetFramework="net45" />
</packages>