<?xml version="1.0" encoding="utf-8" ?>
<connections>
  <connection id="Azure"      connectionString="DefaultEndpointsProtocol=https;AccountName=mbraceunittests;AccountKey=QpDxFgGDhjWzw1eFiXm6nDA5F6mbmkbPHVtPYPO3kTfhKDMWF9rgVcsBBq+VnvcmH+1phURoBgCDZVX2/FfQHg=="/>
  <connection id="SqlServer"  connectionString="Server=XDINOS-PC;Integrated Security=True;Database=MBrace;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
</connections>
